<%= form_tag(ruby_gems_search_path, method: "get") do %>
  <%= label_tag(:search, "Search for Gem:") %>
  <%= text_field_tag(:search) %>
  <%= submit_tag("Search") %>
<% end %>

<ul>
  <% if @search_results %>
    <% @search_results.each do |result| %>
      <li>
        <h3><%= result[:name] %></h3>
        <p><%= result[:description] %></p>
      </li>
    <% end %>
  <% elsif @gems %>
    <% @gems.each do |gem| %>
      <li>
        <h3><%= gem.name %></h3>
      </li>
    <% end %>
  <% end %>
</ul>
