<header>
  <nav>
    <div class="nav-wrapper">
      <%= link_to root_path, class: "brand-logo center" do %>
        <%= image_tag("logo-opensourcewatch-white.png", id: 'logo') %>
        <span>pen Source Watch</span>
      <% end %>
      <a href="#" data-activates="mobile-demo" class="button-collapse hide-on-med-and-up"><%= fa_icon 'bars' %></a>
      <ul class="right hide-on-small-and-down">
        <li><%= link_to 'About', about_path %></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About', about_path %></li>
      </ul>
    </div>
  </nav>
</header>
