<header>
  <nav>
    <div class="nav-wrapper">
      <%= link_to "Open Source Watch", root_path, class: "brand-logo center" %>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><%= fa_icon 'bars' %></a>
      <ul class="right hide-on-small-and-down">
        <li><%= link_to 'About', about_path %></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About', about_path %></li>
      </ul>
    </div>
  </nav>
</header>
