<!DOCTYPE html>
<html>
  <head>
    <title>Open-Source Watch</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render "shared/messages" %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
